USE [master]
GO
/****** Object:  Database [ReservaNatural]    Script Date: 12/05/2026 6:03:03 p. m. ******/
CREATE DATABASE [ReservaNatural]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservaNatural', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ReservaNatural.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservaNatural_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\ReservaNatural_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReservaNatural].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReservaNatural]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[Area_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[ExtensionTotal] [decimal](19, 2) NOT NULL,
	[Parque_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Area_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especies]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especies](
	[Especies_ID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCientifico] [varchar](255) NOT NULL,
	[NombreVulgar] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Especies_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas_Especies]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas_Especies](
	[Area] [int] NOT NULL,
	[Especie] [int] NOT NULL,
	[CantidadIndividuos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Area] ASC,
	[Especie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_PoblacionEspecies]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_PoblacionEspecies] AS
SELECT 
    E.NombreCientifico, 
    E.NombreVulgar  AS NombreCorriente, 
    A.Nombre AS Area,
    AE.CantidadIndividuos AS CantidadIndividuos
FROM Especies E
INNER JOIN Areas_Especies AE ON E.Especies_ID = AE.Especie
INNER JOIN Areas A ON AE.Area = A.Area_ID;
GO
/****** Object:  Table [dbo].[PersonalGestion]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalGestion](
	[DNI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entradas]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entradas](
	[NumeroEntrada] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [datetime] NULL,
	[Parque_ID] [int] NULL,
	[Visitante_DNI] [int] NULL,
	[Gestion_DNI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroEntrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitantes]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitantes](
	[DNI] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parques]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parques](
	[Parque_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Declaracion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Parque_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalParque]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalParque](
	[DNI] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[NumSeguridadSocial] [int] NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[sueldo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_ReporteEntradas]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Vista_ReporteEntradas] AS
SELECT E.Parque_ID AS Ticket, V.Nombre AS Visitante, P.Nombre AS Parque, PP.Nombre AS AtendidoPor
FROM Entradas E
JOIN Visitantes V ON E.Visitante_DNI = V.DNI
JOIN Parques P ON E.Parque_ID = P.Parque_ID
JOIN PersonalGestion PG ON E.Gestion_DNI = PG.DNI
JOIN PersonalParque PP ON PG.DNI = PP.DNI;
GO
/****** Object:  Table [dbo].[TipoVehiculo]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoVehiculo](
	[TipoVehiculo_ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoVehiculo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalVigilancia]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalVigilancia](
	[Personal] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[Matricula] [varchar](255) NOT NULL,
	[TipoVehiculo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vista_AsignacionVigilancia]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[Vista_AsignacionVigilancia] AS
SELECT 
    PP.Nombre AS Guardia,
    PV.Matricula,
    TP.Descripcion,
    A.Nombre AS AreaAsignada,
    P.Nombre AS ParqueNatural
FROM PersonalVigilancia PV
INNER JOIN PersonalParque PP ON PV.Personal = PP.DNI
INNER JOIN Areas A ON PV.Area = A.Area_ID
INNER JOIN Parques P ON A.Parque_ID  = P.Parque_ID
inner join TipoVehiculo TP on PV.TipoVehiculo = TP.TipoVehiculo_ID;
GO
/****** Object:  Table [dbo].[Auditoria_Personal]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria_Personal](
	[Auditoria_ID] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Empleado] [int] NULL,
	[Nombre_Anterior] [varchar](100) NULL,
	[Nombre_Nuevo] [varchar](100) NULL,
	[Fecha_Cambio] [datetime] NULL,
	[Usuario_Sistema] [varchar](100) NULL,
	[Accion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Auditoria_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CadenaAlimenticia]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CadenaAlimenticia](
	[EspecieDepredadora] [int] NOT NULL,
	[EspeciePresa] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EspecieDepredadora] ASC,
	[EspeciePresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[comunidades autonomas]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comunidades autonomas](
	[CA_ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](255) NOT NULL,
	[Organizacion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspeciesAnimales]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspeciesAnimales](
	[Especies_ID] [int] NOT NULL,
	[PeriodoCelo] [varchar](255) NOT NULL,
	[TipoAlimentacion_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Especies_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspeciesMinerales]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspeciesMinerales](
	[TipoMinerales_ID] [int] NOT NULL,
	[Especies] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Especies] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EspeciesVegetales]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EspeciesVegetales](
	[Especies_ID] [int] NOT NULL,
	[Floracion] [bit] NOT NULL,
	[PeriodoFloracion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Especies_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Entradas_Seguridad]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Entradas_Seguridad](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[EntradaID] [int] NULL,
	[VisitanteID] [int] NULL,
	[ParqueID] [int] NULL,
	[FechaLog] [datetime] NULL,
	[Evento] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log_Telefonos]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Telefonos](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[DNI_Dueno] [int] NULL,
	[FechaRegistro] [datetime] NULL,
	[Evento] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parques_comunidades autonomas]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parques_comunidades autonomas](
	[Parque_ID] [int] NOT NULL,
	[CA_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Parque_ID] ASC,
	[CA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonalConservacion]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonalConservacion](
	[Personal] [int] NOT NULL,
	[Area] [int] NOT NULL,
	[TipoEspecialidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Personal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Telefonos]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Telefonos](
	[telefono_ID] [int] IDENTITY(1,1) NOT NULL,
	[ParqueDNI] [int] NOT NULL,
	[telefono] [varchar](20) NULL,
	[TipoTelefonos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[telefono_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoAlimentacion]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoAlimentacion](
	[TipoAlimentacion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoAlimentacion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEspecialidad]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEspecialidad](
	[TipoEspecialidad_ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoEspecialidad_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMinerales]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMinerales](
	[TipoMinerales_ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoMinerales_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoTelefonos]    Script Date: 12/05/2026 6:03:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoTelefonos](
	[tipoTelefonos_ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tipoTelefonos_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Areas] ON 

INSERT [dbo].[Areas] ([Area_ID], [Nombre], [ExtensionTotal], [Parque_ID]) VALUES (1, N'Marismas del Guadiamar', CAST(450.20 AS Decimal(19, 2)), 1)
INSERT [dbo].[Areas] ([Area_ID], [Nombre], [ExtensionTotal], [Parque_ID]) VALUES (2, N'Dunas de Doñana', CAST(320.15 AS Decimal(19, 2)), 1)
INSERT [dbo].[Areas] ([Area_ID], [Nombre], [ExtensionTotal], [Parque_ID]) VALUES (3, N'Cerro del Trigo', CAST(110.50 AS Decimal(19, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Areas] OFF
GO
INSERT [dbo].[Areas_Especies] ([Area], [Especie], [CantidadIndividuos]) VALUES (1, 1, 18)
INSERT [dbo].[Areas_Especies] ([Area], [Especie], [CantidadIndividuos]) VALUES (1, 2, 7)
INSERT [dbo].[Areas_Especies] ([Area], [Especie], [CantidadIndividuos]) VALUES (1, 5, 35)
GO
SET IDENTITY_INSERT [dbo].[comunidades autonomas] ON 

INSERT [dbo].[comunidades autonomas] ([CA_ID], [Nombre], [Organizacion]) VALUES (1, N'Andalucía', N'Consejería de Sostenibilidad y Medio Ambiente')
INSERT [dbo].[comunidades autonomas] ([CA_ID], [Nombre], [Organizacion]) VALUES (2, N'Asturias', N'Gobierno del Principado - Medio Rural')
INSERT [dbo].[comunidades autonomas] ([CA_ID], [Nombre], [Organizacion]) VALUES (3, N'Cantabria', N'Consejería de Desarrollo Rural')
SET IDENTITY_INSERT [dbo].[comunidades autonomas] OFF
GO
SET IDENTITY_INSERT [dbo].[Entradas] ON 

INSERT [dbo].[Entradas] ([NumeroEntrada], [Fecha], [Parque_ID], [Visitante_DNI], [Gestion_DNI]) VALUES (1, CAST(N'2025-11-17T18:44:23.943' AS DateTime), 4, 21, 602)
INSERT [dbo].[Entradas] ([NumeroEntrada], [Fecha], [Parque_ID], [Visitante_DNI], [Gestion_DNI]) VALUES (2, CAST(N'2025-10-11T07:37:23.947' AS DateTime), 2, 14, 585)
INSERT [dbo].[Entradas] ([NumeroEntrada], [Fecha], [Parque_ID], [Visitante_DNI], [Gestion_DNI]) VALUES (3, CAST(N'2025-10-27T20:17:23.950' AS DateTime), 1, 60, 591)
GO
SET IDENTITY_INSERT [dbo].[Entradas] OFF
GO
SET IDENTITY_INSERT [dbo].[Especies] ON 

INSERT [dbo].[Especies] ([Especies_ID], [NombreCientifico], [NombreVulgar]) VALUES (1, N'Lynx pardinus', N'Lince ibérico')
INSERT [dbo].[Especies] ([Especies_ID], [NombreCientifico], [NombreVulgar]) VALUES (2, N'Aquila adalberti', N'Águila Imperial')
INSERT [dbo].[Especies] ([Especies_ID], [NombreCientifico], [NombreVulgar]) VALUES (3, N'Quercus ilex', N'Encina')
SET IDENTITY_INSERT [dbo].[Especies] OFF
GO
INSERT [dbo].[EspeciesAnimales] ([Especies_ID], [PeriodoCelo], [TipoAlimentacion_ID]) VALUES (1, N'Enero', 1)
INSERT [dbo].[EspeciesAnimales] ([Especies_ID], [PeriodoCelo], [TipoAlimentacion_ID]) VALUES (2, N'Enero', 1)
INSERT [dbo].[EspeciesAnimales] ([Especies_ID], [PeriodoCelo], [TipoAlimentacion_ID]) VALUES (5, N'Noviembre', 2)
GO
INSERT [dbo].[EspeciesMinerales] ([TipoMinerales_ID], [Especies]) VALUES (2, 9)
INSERT [dbo].[EspeciesMinerales] ([TipoMinerales_ID], [Especies]) VALUES (2, 13)
INSERT [dbo].[EspeciesMinerales] ([TipoMinerales_ID], [Especies]) VALUES (3, 14)
GO
INSERT [dbo].[EspeciesVegetales] ([Especies_ID], [Floracion], [PeriodoFloracion]) VALUES (3, 1, N'Abril-Mayo')
INSERT [dbo].[EspeciesVegetales] ([Especies_ID], [Floracion], [PeriodoFloracion]) VALUES (4, 1, N'Primavera')
INSERT [dbo].[EspeciesVegetales] ([Especies_ID], [Floracion], [PeriodoFloracion]) VALUES (8, 1, N'Abril-Mayo')
GO
SET IDENTITY_INSERT [dbo].[Parques] ON 

INSERT [dbo].[Parques] ([Parque_ID], [Nombre], [Declaracion]) VALUES (1, N'Doñana', CAST(N'1969-10-16' AS Date))
INSERT [dbo].[Parques] ([Parque_ID], [Nombre], [Declaracion]) VALUES (2, N'Picos de Europa', CAST(N'1918-07-22' AS Date))
INSERT [dbo].[Parques] ([Parque_ID], [Nombre], [Declaracion]) VALUES (3, N'Garajonay', CAST(N'1981-03-25' AS Date))
SET IDENTITY_INSERT [dbo].[Parques] OFF
GO
INSERT [dbo].[Parques_comunidades autonomas] ([Parque_ID], [CA_ID]) VALUES (1, 1)
INSERT [dbo].[Parques_comunidades autonomas] ([Parque_ID], [CA_ID]) VALUES (2, 2)
INSERT [dbo].[Parques_comunidades autonomas] ([Parque_ID], [CA_ID]) VALUES (2, 3)
GO
INSERT [dbo].[PersonalConservacion] ([Personal], [Area], [TipoEspecialidad]) VALUES (401, 27, 3)
INSERT [dbo].[PersonalConservacion] ([Personal], [Area], [TipoEspecialidad]) VALUES (402, 28, 4)
INSERT [dbo].[PersonalConservacion] ([Personal], [Area], [TipoEspecialidad]) VALUES (403, 29, 5)
GO
INSERT [dbo].[PersonalGestion] ([DNI]) VALUES (576)
INSERT [dbo].[PersonalGestion] ([DNI]) VALUES (577)
INSERT [dbo].[PersonalGestion] ([DNI]) VALUES (578)
GO
SET IDENTITY_INSERT [dbo].[PersonalParque] ON 

INSERT [dbo].[PersonalParque] ([DNI], [Nombre], [NumSeguridadSocial], [direccion], [sueldo]) VALUES (1, N'David ', 10021, N'Asturias (Picos)', 2550)
INSERT [dbo].[PersonalParque] ([DNI], [Nombre], [NumSeguridadSocial], [direccion], [sueldo]) VALUES (2, N'Esteban ', 10022, N'La Gomera (Garajonay)', 2700)
INSERT [dbo].[PersonalParque] ([DNI], [Nombre], [NumSeguridadSocial], [direccion], [sueldo]) VALUES (3, N'Oscar ', 10023, N'Vigo (Atlánticas)', 2850)
GO
SET IDENTITY_INSERT [dbo].[PersonalParque] OFF
GO
INSERT [dbo].[PersonalVigilancia] ([Personal], [Area], [Matricula], [TipoVehiculo]) VALUES (1, 2, N'BUX-626', 2)
INSERT [dbo].[PersonalVigilancia] ([Personal], [Area], [Matricula], [TipoVehiculo]) VALUES (2, 3, N'HHL-830', 3)
INSERT [dbo].[PersonalVigilancia] ([Personal], [Area], [Matricula], [TipoVehiculo]) VALUES (3, 4, N'MQY-554', 4)
GO
SET IDENTITY_INSERT [dbo].[Telefonos] ON 

INSERT [dbo].[Telefonos] ([telefono_ID], [ParqueDNI], [telefono], [TipoTelefonos]) VALUES (1, 1, N'SAT-1001', 4)
INSERT [dbo].[Telefonos] ([telefono_ID], [ParqueDNI], [telefono], [TipoTelefonos]) VALUES (2, 2, N'3702481315', 1)
INSERT [dbo].[Telefonos] ([telefono_ID], [ParqueDNI], [telefono], [TipoTelefonos]) VALUES (3, 3, N'CH-103', 3)
GO
SET IDENTITY_INSERT [dbo].[Telefonos] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoAlimentacion] ON 

INSERT [dbo].[TipoAlimentacion] ([TipoAlimentacion_ID], [Descripcion]) VALUES (1, N'Carnívoro')
INSERT [dbo].[TipoAlimentacion] ([TipoAlimentacion_ID], [Descripcion]) VALUES (2, N'Herbívoro')
INSERT [dbo].[TipoAlimentacion] ([TipoAlimentacion_ID], [Descripcion]) VALUES (3, N'Omnívoro')
SET IDENTITY_INSERT [dbo].[TipoAlimentacion] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoEspecialidad] ON 

INSERT [dbo].[TipoEspecialidad] ([TipoEspecialidad_ID], [Descripcion]) VALUES (1, N'Zoología - Mamíferos')
INSERT [dbo].[TipoEspecialidad] ([TipoEspecialidad_ID], [Descripcion]) VALUES (2, N'Ornitología - Aves')
INSERT [dbo].[TipoEspecialidad] ([TipoEspecialidad_ID], [Descripcion]) VALUES (3, N'Botánica Sistemática')
SET IDENTITY_INSERT [dbo].[TipoEspecialidad] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoMinerales] ON 

INSERT [dbo].[TipoMinerales] ([TipoMinerales_ID], [Descripcion]) VALUES (1, N'Igneo')
INSERT [dbo].[TipoMinerales] ([TipoMinerales_ID], [Descripcion]) VALUES (2, N'Metamorfico')
INSERT [dbo].[TipoMinerales] ([TipoMinerales_ID], [Descripcion]) VALUES (3, N'sedimentario')
SET IDENTITY_INSERT [dbo].[TipoMinerales] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoTelefonos] ON 

INSERT [dbo].[TipoTelefonos] ([tipoTelefonos_ID], [Descripcion]) VALUES (1, N'Móvil Corporativo')
INSERT [dbo].[TipoTelefonos] ([tipoTelefonos_ID], [Descripcion]) VALUES (2, N'Fijo Oficina')
INSERT [dbo].[TipoTelefonos] ([tipoTelefonos_ID], [Descripcion]) VALUES (3, N'Radio Frecuencia Emergencia')
SET IDENTITY_INSERT [dbo].[TipoTelefonos] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoVehiculo] ON 

INSERT [dbo].[TipoVehiculo] ([TipoVehiculo_ID], [Descripcion]) VALUES (1, N'Todoterreno 4x4')
INSERT [dbo].[TipoVehiculo] ([TipoVehiculo_ID], [Descripcion]) VALUES (2, N'Motocicleta de Enduro')
INSERT [dbo].[TipoVehiculo] ([TipoVehiculo_ID], [Descripcion]) VALUES (3, N'Lancha Motora')
SET IDENTITY_INSERT [dbo].[TipoVehiculo] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitantes] ON 

INSERT [dbo].[Visitantes] ([DNI], [Nombre]) VALUES (1, N'Carlos Ruiz')
INSERT [dbo].[Visitantes] ([DNI], [Nombre]) VALUES (2, N'Ana Gómez')
INSERT [dbo].[Visitantes] ([DNI], [Nombre]) VALUES (3, N'Luis Torres')
GO
SET IDENTITY_INSERT [dbo].[Visitantes] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_CA_Nombre]    Script Date: 12/05/2026 6:03:05 p. m. ******/
ALTER TABLE [dbo].[comunidades autonomas] ADD  CONSTRAINT [UQ_CA_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Especies_Cientifico]    Script Date: 12/05/2026 6:03:05 p. m. ******/
ALTER TABLE [dbo].[Especies] ADD  CONSTRAINT [UQ_Especies_Cientifico] UNIQUE NONCLUSTERED 
(
	[NombreCientifico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_especie_cientifico]    Script Date: 12/05/2026 6:03:06 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_especie_cientifico] ON [dbo].[Especies]
(
	[NombreCientifico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Parques_Nombre]    Script Date: 12/05/2026 6:03:06 p. m. ******/
ALTER TABLE [dbo].[Parques] ADD  CONSTRAINT [UQ_Parques_Nombre] UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_nombre_personal]    Script Date: 12/05/2026 6:03:06 p. m. ******/
CREATE NONCLUSTERED INDEX [idx_nombre_personal] ON [dbo].[PersonalParque]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Alim_Desc]    Script Date: 12/05/2026 6:03:06 p. m. ******/
ALTER TABLE [dbo].[TipoAlimentacion] ADD  CONSTRAINT [UQ_Alim_Desc] UNIQUE NONCLUSTERED 
(
	[Descripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria_Personal] ADD  DEFAULT (getdate()) FOR [Fecha_Cambio]
GO
ALTER TABLE [dbo].[Auditoria_Personal] ADD  DEFAULT (suser_sname()) FOR [Usuario_Sistema]
GO
ALTER TABLE [dbo].[Auditoria_Personal] ADD  DEFAULT ('UPDATE') FOR [Accion]
GO
ALTER TABLE [dbo].[Entradas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Log_Entradas_Seguridad] ADD  DEFAULT (getdate()) FOR [FechaLog]
GO
ALTER TABLE [dbo].[Log_Telefonos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [Un parque natural se subdivide en varias áreas geográficas. Cada área pertenece a un único parque] FOREIGN KEY([Parque_ID])
REFERENCES [dbo].[Parques] ([Parque_ID])
GO
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [Un parque natural se subdivide en varias áreas geográficas. Cada área pertenece a un único parque]
GO
ALTER TABLE [dbo].[Areas_Especies]  WITH CHECK ADD  CONSTRAINT [Un área física contiene múltiples registros de especies] FOREIGN KEY([Area])
REFERENCES [dbo].[Areas] ([Area_ID])
GO
ALTER TABLE [dbo].[Areas_Especies] CHECK CONSTRAINT [Un área física contiene múltiples registros de especies]
GO
ALTER TABLE [dbo].[Areas_Especies]  WITH CHECK ADD  CONSTRAINT [Una especie puede estar presente en diferentes áreas del parque] FOREIGN KEY([Especie])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[Areas_Especies] CHECK CONSTRAINT [Una especie puede estar presente en diferentes áreas del parque]
GO
ALTER TABLE [dbo].[CadenaAlimenticia]  WITH CHECK ADD  CONSTRAINT [FKCadenaAlim499359] FOREIGN KEY([EspecieDepredadora])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[CadenaAlimenticia] CHECK CONSTRAINT [FKCadenaAlim499359]
GO
ALTER TABLE [dbo].[CadenaAlimenticia]  WITH CHECK ADD  CONSTRAINT [Relación de la especie consigo misma. Un ID actúa como depredador y otro como presa] FOREIGN KEY([EspeciePresa])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[CadenaAlimenticia] CHECK CONSTRAINT [Relación de la especie consigo misma. Un ID actúa como depredador y otro como presa]
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Gestion] FOREIGN KEY([Gestion_DNI])
REFERENCES [dbo].[PersonalGestion] ([DNI])
GO
ALTER TABLE [dbo].[Entradas] CHECK CONSTRAINT [FK_Entrada_Gestion]
GO
ALTER TABLE [dbo].[Entradas]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Visitante] FOREIGN KEY([Visitante_DNI])
REFERENCES [dbo].[Visitantes] ([DNI])
GO
ALTER TABLE [dbo].[Entradas] CHECK CONSTRAINT [FK_Entrada_Visitante]
GO
ALTER TABLE [dbo].[EspeciesAnimales]  WITH CHECK ADD  CONSTRAINT [FKEspeciesAn738279] FOREIGN KEY([Especies_ID])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[EspeciesAnimales] CHECK CONSTRAINT [FKEspeciesAn738279]
GO
ALTER TABLE [dbo].[EspeciesAnimales]  WITH CHECK ADD  CONSTRAINT [normalizacion de descripciones] FOREIGN KEY([TipoAlimentacion_ID])
REFERENCES [dbo].[TipoAlimentacion] ([TipoAlimentacion_ID])
GO
ALTER TABLE [dbo].[EspeciesAnimales] CHECK CONSTRAINT [normalizacion de descripciones]
GO
ALTER TABLE [dbo].[EspeciesMinerales]  WITH CHECK ADD  CONSTRAINT [FKEspeciesMi419666] FOREIGN KEY([TipoMinerales_ID])
REFERENCES [dbo].[TipoMinerales] ([TipoMinerales_ID])
GO
ALTER TABLE [dbo].[EspeciesMinerales] CHECK CONSTRAINT [FKEspeciesMi419666]
GO
ALTER TABLE [dbo].[EspeciesMinerales]  WITH CHECK ADD  CONSTRAINT [FKEspeciesMi83948] FOREIGN KEY([Especies])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[EspeciesMinerales] CHECK CONSTRAINT [FKEspeciesMi83948]
GO
ALTER TABLE [dbo].[EspeciesVegetales]  WITH CHECK ADD  CONSTRAINT [FKEspeciesVe661599] FOREIGN KEY([Especies_ID])
REFERENCES [dbo].[Especies] ([Especies_ID])
GO
ALTER TABLE [dbo].[EspeciesVegetales] CHECK CONSTRAINT [FKEspeciesVe661599]
GO
ALTER TABLE [dbo].[Parques_comunidades autonomas]  WITH CHECK ADD  CONSTRAINT [ gestiona varios parques a través de su organismo responsable.] FOREIGN KEY([CA_ID])
REFERENCES [dbo].[comunidades autonomas] ([CA_ID])
GO
ALTER TABLE [dbo].[Parques_comunidades autonomas] CHECK CONSTRAINT [ gestiona varios parques a través de su organismo responsable.]
GO
ALTER TABLE [dbo].[Parques_comunidades autonomas]  WITH CHECK ADD  CONSTRAINT [puede estar compartido por varias comunidades autónomas] FOREIGN KEY([Parque_ID])
REFERENCES [dbo].[Parques] ([Parque_ID])
GO
ALTER TABLE [dbo].[Parques_comunidades autonomas] CHECK CONSTRAINT [puede estar compartido por varias comunidades autónomas]
GO
ALTER TABLE [dbo].[PersonalConservacion]  WITH CHECK ADD  CONSTRAINT [FKPersonalCo660841] FOREIGN KEY([Personal])
REFERENCES [dbo].[PersonalParque] ([DNI])
GO
ALTER TABLE [dbo].[PersonalConservacion] CHECK CONSTRAINT [FKPersonalCo660841]
GO
ALTER TABLE [dbo].[PersonalConservacion]  WITH CHECK ADD  CONSTRAINT [generalizaicon de descripciones] FOREIGN KEY([TipoEspecialidad])
REFERENCES [dbo].[TipoEspecialidad] ([TipoEspecialidad_ID])
GO
ALTER TABLE [dbo].[PersonalConservacion] CHECK CONSTRAINT [generalizaicon de descripciones]
GO
ALTER TABLE [dbo].[PersonalConservacion]  WITH CHECK ADD  CONSTRAINT [Similar a vigilancia; varios especialistas (limpieza, caminos) pueden trabajar en la misma área] FOREIGN KEY([Area])
REFERENCES [dbo].[Areas] ([Area_ID])
GO
ALTER TABLE [dbo].[PersonalConservacion] CHECK CONSTRAINT [Similar a vigilancia; varios especialistas (limpieza, caminos) pueden trabajar en la misma área]
GO
ALTER TABLE [dbo].[PersonalGestion]  WITH CHECK ADD  CONSTRAINT [FK_Gestion_Personal] FOREIGN KEY([DNI])
REFERENCES [dbo].[PersonalParque] ([DNI])
GO
ALTER TABLE [dbo].[PersonalGestion] CHECK CONSTRAINT [FK_Gestion_Personal]
GO
ALTER TABLE [dbo].[PersonalVigilancia]  WITH CHECK ADD  CONSTRAINT [El DNI identifica al trabajador en la tabla base y en su rol específico] FOREIGN KEY([Personal])
REFERENCES [dbo].[PersonalParque] ([DNI])
GO
ALTER TABLE [dbo].[PersonalVigilancia] CHECK CONSTRAINT [El DNI identifica al trabajador en la tabla base y en su rol específico]
GO
ALTER TABLE [dbo].[PersonalVigilancia]  WITH CHECK ADD  CONSTRAINT [generalizacion de descripciones] FOREIGN KEY([TipoVehiculo])
REFERENCES [dbo].[TipoVehiculo] ([TipoVehiculo_ID])
GO
ALTER TABLE [dbo].[PersonalVigilancia] CHECK CONSTRAINT [generalizacion de descripciones]
GO
ALTER TABLE [dbo].[PersonalVigilancia]  WITH CHECK ADD  CONSTRAINT [Un área puede ser recorrida por varios vigilantes, pero cada vigilante tiene un área asignada] FOREIGN KEY([Area])
REFERENCES [dbo].[Areas] ([Area_ID])
GO
ALTER TABLE [dbo].[PersonalVigilancia] CHECK CONSTRAINT [Un área puede ser recorrida por varios vigilantes, pero cada vigilante tiene un área asignada]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [FKTelefonos812589] FOREIGN KEY([TipoTelefonos])
REFERENCES [dbo].[TipoTelefonos] ([tipoTelefonos_ID])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [FKTelefonos812589]
GO
ALTER TABLE [dbo].[Telefonos]  WITH CHECK ADD  CONSTRAINT [Un trabajador puede tener varios números de contacto] FOREIGN KEY([ParqueDNI])
REFERENCES [dbo].[PersonalParque] ([DNI])
GO
ALTER TABLE [dbo].[Telefonos] CHECK CONSTRAINT [Un trabajador puede tener varios números de contacto]
GO
USE [master]
GO
